<% @page_title = "Services" %>
<% @page_description = "Ballast Treatment Systems, in Mobile, Al, performs a list of services as they design and implement your ballast water management system." %>



<section class="services-hero">
    <div class="container hero-container">
        <h1>Our Services</h1>
    </div>
</section>

<section class="section1a"><%= image_tag('paper.png', alt: '', class: 'img-responsive') %></section>
<section class="section1b">
	<div class="inside">
		<div class="container">


					<h3>We will offer the following services to follow project from Cable to Grave:</h3>
						<h4>1. Analyze the vessel owner's needs based on:</h4>
						1. Vessel Type
						2. Trade Routes
						3. Etc.

						<h4>2. Determine which type of system will work best</h4>
						1. UV
						2. Poison
						3. Others

						<h4>3. Source the different manufacturers of BWTS and make final decision of unit</h4>

						<h4>4. Perform functional design engineering &amp; drawings based on existing ship</h4>
						drawings.

						<h4>5. Perform detailed design engineering &amp; drawings based on detailed ship survey</h4>

						<h4>6. Perform actual installation on vessel</h4>
						1. Should ship owner decide to have a yard perform installation we would provide on-site technical support

						<h4>7. Perform test &amp; trials of installation</h4>

						<h4>8. Provide spare parts &amp; consumables after delivery</h4>

						<h4>9. Provide inspections of system after delivery. (Yearly or longer intervals)</h4>

		</div>
	</div>
</section>
<section class="section1c"><%= image_tag('paper-rev.png', alt: '', class: 'img-responsive') %></section>
