<% @page_title = "Services" %>
<% @page_description = "Ballast Treatment Systems, in Mobile, Al, performs a list of services as they design and implement your ballast water management system." %>



<section class="services-hero">
    <div class="container hero-container">
        <h1>Our Services</h1>
    </div>
</section>

<section class="section1a"><%= image_tag('paperxl.png', alt: '', class: 'img-responsive') %></section>
<section class="section1b">
	<div class="inside">
		<div class="container">
				<div class="col-md-10 col-md-offset-1 col-xs-12">
						<h3>We offer the following services to follow project from Cable to Grave:</h3>
						<div class="serve type">
							<h4>Analyze the vessel owner's needs based on:</h4>
							<p>Vessel Type, Trade Routes, Etc...</p>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve type">
							<h4>Determine which type of system will work best.</h4>
							<p>UV, Poison, Etc...</p>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve">
							<h4>Source the different manufacturers of BWTS and make final decision of unit.</h4>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve">
							<h4>Perform functional design engineering &amp; drawings based on existing ship drawings.</h4>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve">
							<h4>Perform detailed design engineering &amp; drawings based on detailed ship survey.</h4>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve type">
							<h4>Perform actual installation on vessel.</h4>
							<p>Should ship owner decide to have a yard perform installation we would provide on-site technical support.</p>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve">
							<h4>Perform test &amp; trials of installation.</h4>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve">
							<h4>Provide spare parts &amp; consumables after delivery.</h4>
						</div>
				<!-- </div> -->

				<!-- <div class="col-md-6 col-xs-12"> -->
						<div class="serve">
							<h4>Provide inspections of system after delivery (Yearly or longer intervals).</h4>
						</div>
				</div>
		</div>
	</div>
</section>
<section class="section1c"><%= image_tag('paperxl-rev.png', alt: '', class: 'img-responsive') %></section>
