@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import "font-awesome";

@import "variables";
@import "mixins";

ul {list-style-type: none;}
a:hover {text-decoration: none;}

.mobile-show { display: none; }
.mobile-hide { display: block; }
.no-padding {padding:0;}

@include bp(md) {
  .mobile-show { display: block; }
  .mobile-hide { display: none; }
	.xs-bmargin0 { margin-bottom: 0; }
	.no-padding-xs {padding:0;}
	.no-lpadding-xs {padding-left:0;}
	.no-rpadding-xs {padding-right:0;}
}
body{margin-top:-20px;}
.main {
	@include sec-default();@include sec-bgimage(); background-image: url(image_path('cargo3-bw.jpg'));background-position: center center; font-size: 15px;
	background-attachment: fixed;

	@include bp(md) {
		background-attachment: scroll;background-position: top center;
	}
}
// .main {@include sec-default(); padding:40px 0;}

.scroll-up {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 15px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background-image: url(image_path('to-top.png'));
    background-repeat: no-repeat;
    background-color: $dark;
    z-index: 100;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    @include bp(tb) { right: 30px; }
    @include bp(sm) { right: 15px; }
}

footer {
	@include sec-default(); background-color: $dk-blue; padding:15px 15px 0;
	ul li {display: inline-block; margin-right: 25px;
		.ft-nav{color: $white; font-size: 15px;}
	}

	p.copyright {float: right; color: $white;}

	@include bp(md) {
		padding: 5px;
	}
}


h1, h2, h3, h4, h5, p, a, li {line-height: 1.5em; font-family: $open;}
h1 {font-size: 40px;}
h2 {font-size: 25px;}
h3 {font-size: 22px;}
h4 {font-size: 18px;}
