@import "variables";
@import "mixins";

header {
  @include sec-default();
  position: fixed;
  width: 100%;
  height: auto;
  background: transparent;
  transition: all 0.4s ease;
  z-index: 9999;

  &.sticky {
    @include sec-default();
    height: auto;
    background: rgba($offwhite, .95);
    text-align: left;
    padding: 10px 50px;
    border-bottom: 1px solid #ececec;
  }

  ul {
    li { display: inline-block; padding-top: 5px; }

    &.contact-list {padding-left:0;
      .phone {margin-right:20px;}
      li a {color: $dk-blue}
    }
    &.megamenu-parent.menu-zoom { float: right;
      .nav-link { font-size: 15px;margin-top: 10px;color: $dk-blue; text-transform: uppercase; font-weight: bold;margin-left: 30px;}
    }
  }

  .logo-img {max-width: 200px; padding-top: 0px; margin: auto;}
}


@include bp(md) {
  header, header.sticky {position: relative; transition: none; height:auto; background-color: rgba($white, .8);}

}


.home {
  header {
    .logo-img {display: none;}
    &.sticky .logo-img {display: block;}

    @include bp(md) {.logo-img {display: block;}}
  }
}




 // ul { padding-left:0;
 //    li { display: inline-block; margin-left: 30px; padding-top: 5px; }

 //    ul.megamenu-parent.menu-zoom { float: right;
 //      .nav-link { font-size: 15px;margin-top: 10px;color: $dk-blue; text-transform: uppercase; font-weight: bold;}
 //    }
 //  }
