@import "variables";
@import "mixins";

header { @include sec-default();}

.top-bar {@include sec-default();  padding:5px; color: $white;}
.logo-img {max-width: 200px; padding:10px 0;}
header ul { float: right;
  li { display: inline-block; margin-left: 30px; margin-top: 20px;}
}

header {
  @include sec-default();
  position: fixed;
  padding-top:20px;
  width: 100%;
  // text-align: center;
  height: auto;
  background: transparent;
  color: $white;
  transition: all 0.4s ease;
  z-index: 9999;

  &.sticky {
    @include sec-default();
    padding-top:0px;
    height: 85px;
    background: rgba($offwhite, .95);
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #ececec;
  }
}


@include bp(md) {
  header, header.sticky {position: relative; transition: none; height:auto; background-color: rgba($white, .8);}

}
