@import "variables";
@import "mixins";

header {
  @include sec-default();
  position: fixed;
  top:0;
  width: 100%;
  height: auto;
  background: transparent;
  transition: all 0.4s ease;
  z-index: 9999;
  padding-top: 5px;

  &.sticky {
    // @include sec-default();
    // height: auto;
    // text-align: left;
    background: rgba($offwhite, .95);
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
  }

  ul {
    li { display: inline-block; padding-top: 5px; }

    &.contact-list {padding-left:0;
      .phone {margin-right:20px;}
      li a {color: $dk-blue}
    }
    &.megamenu-parent.menu-zoom { float: right;
      .nav-link { font-size: 15px;margin-top: 10px;color: $dk-blue; text-transform: uppercase; font-weight: bold;margin-left: 30px;}
    }
  }

  .logo-img {max-width: 200px; padding-top: 0px; margin: auto;}
}

.home {
  header {
    .logo-img {display: none;}
    &.sticky .logo-img {display: block;}

    @include bp(md) {.logo-img {display: block;}}
  }
}


@include bp(tb) {
  header, header.sticky, .home header {position: relative; padding: 0 0 5px; height:auto; background-color: rgba($white, .8);
    ul.contact-list {@include sec-default(); border-bottom: 1px solid #dfdfdf; margin-bottom: 15px;
      // border-bottom: 1px solid $dk-blue;
      li {padding: 5px 15px;}
      .phone {width: 40%; float: left; margin-right: 0;}
      .email {width: 40%; float: right;}
    }
  }
}

@include bp(sm) {
  header, header.sticky, .home header {
    ul.contact-list { text-align: center; padding-bottom: 5px;
      .phone {width: auto; @include center-block();}
      .email {width: auto; @include center-block();}
    }
  }
}

#offcanvas-toggler {
    width: 40px;
    margin-top:10px;
    background-color:$dk-blue;
    padding: 10px 5px 5px;
    text-align: center;
    border-radius: 4px;
    @include center-block();
    display:none;

    h5 {color: $white; font-weight: bold; display: inline-block; font-size: 15px; margin-right: 4px; margin-bottom: 5px; }
    h4 {color:$white; line-height:2em; padding-top:10px; }
    h4:hover {color:$black; text-decoration:none; }

    span { width: 90%; @include center-block(); border-radius: 4px;
            margin-bottom:4px;
            height: 2px;
            border-radius: 4px;
            background-color: $white;
    }
}
.close-offcanvas{position:absolute; top:15px; right:15px; z-index:1; color:$white; border:2px solid #eee; border-radius:100%; width:22px; height:22px; line-height:18px; text-align:center; font-size:12px}
.close-offcanvas:hover{background:$black; color:$white}
.offcanvas-menu .menu ul li{position:relative;}

.offcanvas-menu{width:250px; height:100%; background:darken($dk-blue, 10%); color:$white; position:fixed; top:0; opacity:0; z-index:9999; overflow-y:scroll;
    .offcanvas-inner{padding:20px;}
    .module{margin-top:20px;
        ul{margin:0 -20px;width: 100%; float: left;
            li { @include sec-default(); margin-bottom:15px; padding-bottom:5px; border-bottom:1px solid rgba($white, .2);display: block;
              &:last-child{border-bottom: none;}
                a { -webkit-transition:300ms; -o-transition:300ms; transition:300ms; padding:7px 0; padding-left:0px; color: $white; font-size: 15px; line-height: 1.5em;}
            }
        }
    }
}

.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-250px}
.offcanvas .offcanvas-menu{right:0}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba($black, 0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.offcanvas .offcanvas-menu{opacity:1}
.menu .nav-child.small{font-size:inherit}
h3.module-title{color: $white;}
.menu .nav-child.small{font-size:inherit}

@include bp(md) {
  .mega-tab, .megamenu-parent {display: none;}
  #offcanvas-toggler {display: block}
}
