// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";
.honey {position: absolute;left: -9999px;}



.section1a {@include sec-default ();background-color: none;height: auto;}
.section1c {@include sec-default ();background-color: $blue;height: auto;}

.section1b {
	@include sec-default ();
	background-color: $white;
	@include sec-bgimage();
	background-position: top center;
	background-image: url(image_path('ow-map.png'));
	// height: 300px;

	.inside {
		@include sec-default ();
		height:100%;
		background-color: rgba($white, .92);
		@include sec-bgimage();
		padding: 20px 0;

		h2.header {font-weight: 800; text-transform: uppercase;padding-bottom:40px;text-align: center;}

		@include bp(tb) {padding:0 15px;
			h2.header {padding-bottom: 10px;}
		}
	}
}


.home {
	.home-hero {height:450px;
		.hero-container {padding-top:15%;}
		@include bp(md) { height: 150px;
			.hero-container {padding-top:7%;}
		}
	}

	.site-header {@include sec-default ();
		.anchor {width: 45px; display: inline-block;float: left;}
		h1 {display: inline-block; margin-left: 5px; font-family: $open; font-weight: 700; text-transform: uppercase; line-height: .8em; color: $dk-blue;
			span {font-size: 22px; font-weight: normal; color: $lt-blue;}
		}

		@include bp(tb) { h1{margin-top: 4px;} }
	}

	.section1 {
		@include sec-default ();
		margin-top:-5%;
		h2 {font-size: 30px; text-align: center;}
	}

	.section1b { h3 {margin-top: 0;}}

	.section2 {
		@include sec-default ();
		background-color: $blue;
		padding:40px 0;

		.img-responsive {width: 100%;}
		.whitebox {
			background-color: $white; padding:15px;
		}

		@include bp(tb) {
			.ship-bx { @include sec-default(); margin-bottom:20px; text-align: center;
				.img-responsive, .whitebox {width: 45%;display: inline-block;float: left;}
				.whitebox {float: right; width:54%; margin-top: 15px; padding-bottom: 10px;}
			}
		}

		@include bp(sm) {
			.ship-bx {margin-bottom:10px;
				.img-responsive, .whitebox { @include sec-default();}
				.whitebox {margin-top: 10px}
			}
		}
	}
}

.contact {
	.contact-hero {height:350px;
		.hero-container {padding-top:15%;}
		h1 {font-weight: 800; color: $blue; text-transform: uppercase;}
		@include bp(md) { height: 200px;}
	}
	// .contact-info {@include sec-default (); background-color: $white; margin-top: 150px; padding: 50px 0;}
	.section1b .inside {background-color: rgba($white, .9);}
	.section1c {background-color: $dk-blue;}

	h3 { color: $dk-blue; line-height: 1.3em; margin-bottom: 45px; margin-top: 0;
		span {font-style: italic;font-weight: 800;}
	}

	.contact-info {
		.phone, .email { color: $lt-blue; font-weight: bold; font-size: 16px;}
		h4 {text-align: center; margin-top:5px; margin-bottom:15px;}
	}

	.formsec {
		input, textarea {background-color: $offwhite; border: 1px solid #ededed; padding: 4px 10px; width:80%; @include center-block(); margin-bottom:10px;}
		input.send-message {background-color: $blue; width: 40%; color: $white; border-radius: 4px; font-weight: bold; margin-bottom: 0;}
	}
}

.services {
	.services-hero {height:300px;
		.hero-container {padding-top:10%;}
		h1 {font-weight: 800; color: $blue; text-transform: uppercase;}
		@include bp(tb) { height: 120px;
			.hero-container {padding-top:3%;}
		}
	}
	.section1c {background-color: $dk-blue;}

	p {color: $dk-blue; margin-bottom: 5px; }
	.serve { padding: 5px 10px;
		h3 {color: $lt-blue; font-weight: bold; margin-top:0; margin-bottom: 5px; text-transform: uppercase;}

		@include bp(tb) {padding: 5px 0px 0;
			h3 {font-size: 16px; }
		}
	}

	.section1b { background-repeat: repeat;
		.inside.bl {background-color: lighten($blue, 15%); p {color: $white;}
			h3 {color: $dk-blue;}
		}

		@include bp(tb) {
			.inside {padding: 20px;}
		}
	}
}
