// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";
.honey {position: absolute;left: -9999px;}



.section1a {@include sec-default ();background-color: none;height: auto;}
.section1c {@include sec-default ();background-color: $blue;height: auto;}

.section1b {
	@include sec-default ();
	background-color: $white;
	@include sec-bgimage();
	background-position: top center;
	background-image: url(image_path('ow-map.png'));
	// height: 300px;

	.inside {
		@include sec-default ();
		height:100%;
		background-color: rgba($white, .92);
		@include sec-bgimage();
		padding: 20px 0;

		h2.header {font-weight: 800; text-transform: uppercase;padding-bottom:40px;text-align: center;}
	}
}


.home {
	.home-hero {height:450px;
		.hero-container {padding-top:15%;}
		@include bp(md) { height: 300px;}
	}

	.site-header {@include sec-default ();
		.anchor {width: 45px; display: inline-block;float: left;}
		h1 {display: inline-block; margin-left: 5px; font-family: $open; font-weight: 700; text-transform: uppercase; line-height: .8em; color: $dk-blue;
			span {font-size: 22px; font-weight: normal; color: $lt-blue;}
		}
	}

	.section1 {
		@include sec-default ();
		margin-top:-5%;
		h2 {font-size: 30px; text-align: center;}

		.ballast-block {
			@include sec-default();
			@include sec-bgimage();
			background-image: url(image_path('shipping2.jpg'));
			background-position: center center;
			height:auto;
			position: relative;
			color:$white;
			z-index: 0;

			&::before {
				content: '';
				width: 100%;
				height:100%;
				background: rgba($dk-blue, .9);
				position: absolute;
				z-index: -1;
				left: 0;
			}

			.inner {@include sec-default(); padding:20px 15px;}
		}
	}

	.section1b { h3 {margin-top: 0;}}

	.section2 {
		@include sec-default ();
		background-color: $blue;
		padding:40px 0;

		.img-responsive {width: 100%;}
		.whitebox {
			background-color: $white; padding:15px;
		}
	}
}

.contact {
	.contact-hero {height:350px;
		.hero-container {padding-top:15%;}
		h1 {font-weight: 800; color: $blue; text-transform: uppercase;}
		@include bp(md) { height: 200px;}
	}
	// .contact-info {@include sec-default (); background-color: $white; margin-top: 150px; padding: 50px 0;}
	.section1b .inside {background-color: rgba($white, .9);}
	.section1c {background-color: $dk-blue;}

	h3 { color: $dk-blue; line-height: 1.3em; margin-bottom: 45px; margin-top: 0;
		span {font-style: italic;font-weight: 800;}
	}

	.contact-info {
		.phone, .email { color: $lt-blue; font-weight: bold; font-size: 16px;}
		h4 {text-align: center; margin-top:5px; margin-bottom:15px;}
	}

	.formsec {
		input, textarea {background-color: $offwhite; border: 1px solid #ededed; padding: 4px 10px; width:80%; @include center-block(); margin-bottom:10px;}
		input.send-message {background-color: $blue; width: 40%; color: $white; border-radius: 4px; font-weight: bold; margin-bottom: 0;}
	}
}

.services {
	.services-hero {height:350px;
		.hero-container {padding-top:15%;}
		h1 {font-weight: 800; color: $blue; text-transform: uppercase;}
		@include bp(md) { height: 200px;}
	}
	.section1c {background-color: $dk-blue;}

	.serve { @include sec-default(); padding: 5px 10px;
		h4 {color: $lt-blue; font-weight: bold;}
		h4::before {
			content: '';
			width:15px;
			height:30px;
			@include sec-bgimage();
			background-image: url(image_path('anchor-sm.png'));
			position: absolute;
			left:0;
			margin-top:5px;
		}
		p {color: $dk-blue; margin-bottom: 5px; }

		&.type h4 {margin-bottom: 0;}
		@include bp(md) {padding: 5px 0px 0;
			h4 {font-size: 16px; padding-left:3px;}
		}
	}
}
