<footer class="footer">
  <div class="container">
    <div class="col-md-6">
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </nav>
    </div>

    <div class="col-md-6">
      <p class="copyright">&copy; <%= Time.now.year %> High Seas Design House. All rights reserved. </p>
    </div>
</footer>

