<footer class="footer">
  <div class="container">
    <div class="col-md-6">
        <ul>
          <li><%= link_to "Home", root_path, class: 'ft-nav' %></li>
          <li><%= link_to "Contact Us", contact_path, class: 'ft-nav' %></li>
        </ul>
    </div>

    <div class="col-md-6">
      <p class="copyright">&copy; <%= Time.now.year %> High Seas Design House. All rights reserved. </p>
    </div>
</footer>

