<header class="header">
  <div class="top-bar">
    <%= mail_to "info@ballasttreatmentsystems.com", encode: "hex", class: 'email' do %>
	    info@ba<span style="display:none">hexscramblewords</span>llasttreatmentsystems.com
	  <% end %>
  </div>

  <div class="main-header">
	    <div class="col-md-3 logo-block">
	        <%= link_to(image_tag( 'logo.jpg', alt: 'Ballast Treatment Systems Logo', class: 'img-responsive logo-img'), root_path ) %>
	    </div>

	    <div class="col-md-9 mega-tab">
	        <ul class="megamenu-parent menu-zoom hidden-xs">
	        </ul>
	    </div>
    <div>
      <a href="#" id="offcanvas-toggler">
          <span></span>
          <span></span>
          <span></span>
      </a>
    </div>
</header>
